<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-2 mt-3 " style="color:white" >
  <footer class="page-footer font-small blue pt-4">

  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-5 mt-md-1 mt-8">
        <h5 class="text-uppercase">ANGESCO Inmuebles</h5>
        <ul class="list-unstyled">
          <li class="nav-item">
            <br><a  href="{% url 'property:list' %}" style="color:#888888">
            Quienes Somos <i></i> <span class="sr-only"></span></a>
            <li>
            <br> <img src="../../Image/{{logo.urlimage }}" width="70 %">
            </li>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-200 d-md-none pb-3">
      <div class="col-md-4 mb-md-0 mb-3">
        <h5 class="text-uppercase">Tipo de Inmuebles</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color:#888888">Casas</a>
          </li>
          <li>
            <a href="#!" style="color:#888888">Apartamentos</a>
          </li>
          <li>
            <a href="#!" style="color:#888888">Finca</a>
          </li><li>
            <a href="#!" style="color:#888888">Local</a>
          </li>
          <li>
            <a href="#!" style="color:#888888">Venta</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Contacto</h5>
        <ul class="list-unstyled">
          <li>
            <a style="color:#888888">Manizales</a>
          </li>
          <li>
            <a style="color:#888888">(3) 89631341</a>
          </li>
          <li>
            <a style="color:#888888">(57) 3137386604</a>
          </li>
          <li>
            <a style="color:#888888">Cra. 23 No 62-39 piso 11</a>
          </li>
          <li>
            <a style="color:#888888">Av. Santander</a>
          </li>
          <li>
            <a style="color:#888888"> Centro Empresarial Capitalia</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright |
    <a style="color: #888888">All Rights Reserved | ANGESCO |</a>
    <a style="color: #888888">angesco2020@gmail.com</a>
  </div>
</footer>
