<html>
<head>

</head>
<body style="width:80%; background-color: #f8f9fa;">
	<div class="text" style="padding:20px; text-align: center;">
		<h2>Hola {{ user.username }}, le damos la Bienvendida a ANGESCO inmobiliaria</h2>
		<h3>Haz clic en el botón que aparece a continuación para activar tu cuenta.</h3>
    <p>
      <a href="http://{{ domain }}{% url 'users:activate' uidb64=uid token=token %}"
			   style="padding: 5px 15px;display: inline-block;border-radius: 5px;background:#0074ae;color: #ffffff;">
        Activar Cuenta
      </a>
    </p>
  </div>
</body>
</html>
